include CHANGELOG COPYING TODO
include simplemode.txt
include driconf setup.cfg
include card.png screen.png screencard.png drilogo.jpg
include Makefile
include *.po
recursive-include de *.mo
recursive-include es *.mo
recursive-include it *.mo
recursive-include ru *.mo
